## Code for *Most In-Demand Tech Skills for Data Engineers 2022*
### Who's up and who's down sinceÂ 2020?
Medium Article [here](https://jeffhale.medium.com/most-in-demand-tech-skills-for-data-engineers-2022-a4746a2b366?source=friends_link&sk=1dbc1cebd4debce8469104a968c5d697). 


*By: Jeff Hale*
June 2022

Imports and configuration

In [573]:
import pandas as pd
import plotly.express as px
import numpy as np

pd.options.display.max_rows = None

Read June 2022 data

In [575]:
df_2022= pd.read_csv('./data/data_engineer_tech_skills_2022-06-02.csv')
df_2022.set_index('term', drop=True, inplace=True)
df_2022

               indeed  simplyhired       position        date
term
Data Engineer   15418         7009  Data Engineer  2022-06-02
Python          11001         4992  Data Engineer  2022-06-02
SQL             11325         5300  Data Engineer  2022-06-02
R                1724          989  Data Engineer  2022-06-02
Spark            6757         2811  Data Engineer  2022-06-02
Hadoop           3916         1623  Data Engineer  2022-06-02
Java             5254         2303  Data Engineer  2022-06-02
Tableau          2501         1419  Data Engineer  2022-06-02
AWS              8401         3572  Data Engineer  2022-06-02
SAS               360          252  Data Engineer  2022-06-02
Hive             3336         1131  Data Engineer  2022-06-02
Scala            3689         1497  Data Engineer  2022-06-02
Excel             966          548  Data Engineer  2022-06-02
TensorFlow        268          158  Data Engineer  2022-06-02
Azure            4764         2040  Data Engineer  2022-06-02
NoSQL            3163         1374  Data Engineer  2022-06-02
Linux            1851          849  Data Engineer  2022-06-02
C                 873          347  Data Engineer  2022-06-02
C++               733          436  Data Engineer  2022-06-02
C#                726          421  Data Engineer  2022-06-02
Matlab            152          111  Data Engineer  2022-06-02
Scikit-learn      118           91  Data Engineer  2022-06-02
Pandas            577          291  Data Engineer  2022-06-02
Git              1518          906  Data Engineer  2022-06-02
Keras              95           47  Data Engineer  2022-06-02
Javascript       1058          534  Data Engineer  2022-06-02
Pig               518          222  Data Engineer  2022-06-02
Hbase             843          359  Data Engineer  2022-06-02
Google Cloud     1613          650  Data Engineer  2022-06-02
Docker           1661          808  Data Engineer  2022-06-02
NumPy             306          142  Data Engineer  2022-06-02
PyTorch           139           90  Data Engineer  2022-06-02
MySQL            1733          703  Data Engineer  2022-06-02
Perl              272          182  Data Engineer  2022-06-02
Cassandra        1339          446  Data Engineer  2022-06-02
MongoDB           900          472  Data Engineer  2022-06-02
GCP              2398          890  Data Engineer  2022-06-02
Kubernetes       1557          761  Data Engineer  2022-06-02
D3                 47           31  Data Engineer  2022-06-02
Databricks       1518          782  Data Engineer  2022-06-02
PostgreSQL       1269          493  Data Engineer  2022-06-02
Postgres          953          515  Data Engineer  2022-06-02
Airflow          2573         1309  Data Engineer  2022-06-02
Alteryx           253          151  Data Engineer  2022-06-02
BigQuery         1130          493  Data Engineer  2022-06-02
Ruby              588          286  Data Engineer  2022-06-02
PowerPoint        415          123  Data Engineer  2022-06-02
Power BI         1063          661  Data Engineer  2022-06-02
Shiny              41           33  Data Engineer  2022-06-02
Julia              47           27  Data Engineer  2022-06-02
Jupyter           236          127  Data Engineer  2022-06-02
PHP               126           79  Data Engineer  2022-06-02
Matplotlib         66           57  Data Engineer  2022-06-02
Node              224          143  Data Engineer  2022-06-02
Flask              93           75  Data Engineer  2022-06-02
Neo4j             201           84  Data Engineer  2022-06-02
Redis             284          176  Data Engineer  2022-06-02
Oracle           1868         1019  Data Engineer  2022-06-02
Lambda           1756          750  Data Engineer  2022-06-02
Redshift         3928         1667  Data Engineer  2022-06-02
Terraform        1213          494  Data Engineer  2022-06-02
Kafka            4011         1498  Data Engineer  2022-06-02
Jenkins           955          543  Data Engineer  2022-06-02
Golang            196          107  Data Engineer  2022-06-02
Snowflake        3760         1523  Data Engineer  2022-06-02
Presto            782          267  Data Engineer  2022-06-02
Kinesis          1506          545  Data Engineer  2022-06-02
Impala            494          177  Data Engineer  2022-06-02
SQL Server       1695         1016  Data Engineer  2022-06-02
SPSS               50           41  Data Engineer  2022-06-02
Oozie             244          143  Data Engineer  2022-06-02
Stata              22           18  Data Engineer  2022-06-02
React             329          215  Data Engineer  2022-06-02
Kotlin             81           43  Data Engineer  2022-06-02
Fortran             5            5  Data Engineer  2022-06-02
Rust               57           36  Data Engineer  2022-06-02
Dart                9            5  Data Engineer  2022-06-02
Clojure            22            9  Data Engineer  2022-06-02
Vue                53           32  Data Engineer  2022-06-02
Svelte              1            1  Data Engineer  2022-06-02
Next.js             1            1  Data Engineer  2022-06-02
Swift              19           17  Data Engineer  2022-06-02
CSS               180          119  Data Engineer  2022-06-02
HTML              338          179  Data Engineer  2022-06-02
Bash              671          275  Data Engineer  2022-06-02
Shell            1179          535  Data Engineer  2022-06-02
TypeScript        173           95  Data Engineer  2022-06-02
Objective-C         4            2  Data Engineer  2022-06-02
WebAssembly         2            2  Data Engineer  2022-06-02
Visual Basic       18           16  Data Engineer  2022-06-02
.net              562          308  Data Engineer  2022-06-02
ASP                51           34  Data Engineer  2022-06-02
Prefect           268           91  Data Engineer  2022-06-02
Luigi             433          197  Data Engineer  2022-06-02
Dagster            83           35  Data Engineer  2022-06-02
Plotly             35           31  Data Engineer  2022-06-02
dbt               810          376  Data Engineer  2022-06-02
Looker            765          343  Data Engineer  2022-06-02
Metabase           17           15  Data Engineer  2022-06-02
FastAPI            31           24  Data Engineer  2022-06-02
Sagemaker         295          161  Data Engineer  2022-06-02
MLFlow             58           34  Data Engineer  2022-06-02
Kubeflow           56           37  Data Engineer  2022-06-02
Glue             1836          832  Data Engineer  2022-06-02
Athena           1131          497  Data Engineer  2022-06-02

Combine GCP and Google Cloud AND Postgres and PostgreSQL

I didn't have Postgres in the search terms in 2020, but PostgreSQL saw a minor decline, so the absence of Postgres is unlikely to affect the results.

In [576]:
def combine(df: pd.DataFrame, term1: str, term2: str) -> pd.DataFrame:
    """Combine two search terms

    Args:
        df: The DataFrame to operate on
        term1: First term to combine, this is the column name in the returnd DF
        term2: Second term to combine

    Returns:
        The altered DataFrame
    """


    df.loc[term1, 'indeed'] = df.loc[term1, 'indeed'] + df.loc[term2, 'indeed']
    df.loc[term1, 'simplyhired'] = df.loc[term1, 'simplyhired'] + df.loc[term2, 'simplyhired']
    return df.drop(term2)

In [577]:
df_2022 = combine(df_2022, 'GCP', 'Google Cloud')
df_2022 = combine(df_2022, 'Postgres', 'PostgreSQL')
df_2022

               indeed  simplyhired       position        date
term
Data Engineer   15418         7009  Data Engineer  2022-06-02
Python          11001         4992  Data Engineer  2022-06-02
SQL             11325         5300  Data Engineer  2022-06-02
R                1724          989  Data Engineer  2022-06-02
Spark            6757         2811  Data Engineer  2022-06-02
Hadoop           3916         1623  Data Engineer  2022-06-02
Java             5254         2303  Data Engineer  2022-06-02
Tableau          2501         1419  Data Engineer  2022-06-02
AWS              8401         3572  Data Engineer  2022-06-02
SAS               360          252  Data Engineer  2022-06-02
Hive             3336         1131  Data Engineer  2022-06-02
Scala            3689         1497  Data Engineer  2022-06-02
Excel             966          548  Data Engineer  2022-06-02
TensorFlow        268          158  Data Engineer  2022-06-02
Azure            4764         2040  Data Engineer  2022-06-02
NoSQL            3163         1374  Data Engineer  2022-06-02
Linux            1851          849  Data Engineer  2022-06-02
C                 873          347  Data Engineer  2022-06-02
C++               733          436  Data Engineer  2022-06-02
C#                726          421  Data Engineer  2022-06-02
Matlab            152          111  Data Engineer  2022-06-02
Scikit-learn      118           91  Data Engineer  2022-06-02
Pandas            577          291  Data Engineer  2022-06-02
Git              1518          906  Data Engineer  2022-06-02
Keras              95           47  Data Engineer  2022-06-02
Javascript       1058          534  Data Engineer  2022-06-02
Pig               518          222  Data Engineer  2022-06-02
Hbase             843          359  Data Engineer  2022-06-02
Docker           1661          808  Data Engineer  2022-06-02
NumPy             306          142  Data Engineer  2022-06-02
PyTorch           139           90  Data Engineer  2022-06-02
MySQL            1733          703  Data Engineer  2022-06-02
Perl              272          182  Data Engineer  2022-06-02
Cassandra        1339          446  Data Engineer  2022-06-02
MongoDB           900          472  Data Engineer  2022-06-02
GCP              4011         1540  Data Engineer  2022-06-02
Kubernetes       1557          761  Data Engineer  2022-06-02
D3                 47           31  Data Engineer  2022-06-02
Databricks       1518          782  Data Engineer  2022-06-02
Postgres         2222         1008  Data Engineer  2022-06-02
Airflow          2573         1309  Data Engineer  2022-06-02
Alteryx           253          151  Data Engineer  2022-06-02
BigQuery         1130          493  Data Engineer  2022-06-02
Ruby              588          286  Data Engineer  2022-06-02
PowerPoint        415          123  Data Engineer  2022-06-02
Power BI         1063          661  Data Engineer  2022-06-02
Shiny              41           33  Data Engineer  2022-06-02
Julia              47           27  Data Engineer  2022-06-02
Jupyter           236          127  Data Engineer  2022-06-02
PHP               126           79  Data Engineer  2022-06-02
Matplotlib         66           57  Data Engineer  2022-06-02
Node              224          143  Data Engineer  2022-06-02
Flask              93           75  Data Engineer  2022-06-02
Neo4j             201           84  Data Engineer  2022-06-02
Redis             284          176  Data Engineer  2022-06-02
Oracle           1868         1019  Data Engineer  2022-06-02
Lambda           1756          750  Data Engineer  2022-06-02
Redshift         3928         1667  Data Engineer  2022-06-02
Terraform        1213          494  Data Engineer  2022-06-02
Kafka            4011         1498  Data Engineer  2022-06-02
Jenkins           955          543  Data Engineer  2022-06-02
Golang            196          107  Data Engineer  2022-06-02
Snowflake        3760         1523  Data Engineer  2022-06-02
Presto            782          267  Data Engineer  2022-06-02
Kinesis          1506          545  Data Engineer  2022-06-02
Impala            494          177  Data Engineer  2022-06-02
SQL Server       1695         1016  Data Engineer  2022-06-02
SPSS               50           41  Data Engineer  2022-06-02
Oozie             244          143  Data Engineer  2022-06-02
Stata              22           18  Data Engineer  2022-06-02
React             329          215  Data Engineer  2022-06-02
Kotlin             81           43  Data Engineer  2022-06-02
Fortran             5            5  Data Engineer  2022-06-02
Rust               57           36  Data Engineer  2022-06-02
Dart                9            5  Data Engineer  2022-06-02
Clojure            22            9  Data Engineer  2022-06-02
Vue                53           32  Data Engineer  2022-06-02
Svelte              1            1  Data Engineer  2022-06-02
Next.js             1            1  Data Engineer  2022-06-02
Swift              19           17  Data Engineer  2022-06-02
CSS               180          119  Data Engineer  2022-06-02
HTML              338          179  Data Engineer  2022-06-02
Bash              671          275  Data Engineer  2022-06-02
Shell            1179          535  Data Engineer  2022-06-02
TypeScript        173           95  Data Engineer  2022-06-02
Objective-C         4            2  Data Engineer  2022-06-02
WebAssembly         2            2  Data Engineer  2022-06-02
Visual Basic       18           16  Data Engineer  2022-06-02
.net              562          308  Data Engineer  2022-06-02
ASP                51           34  Data Engineer  2022-06-02
Prefect           268           91  Data Engineer  2022-06-02
Luigi             433          197  Data Engineer  2022-06-02
Dagster            83           35  Data Engineer  2022-06-02
Plotly             35           31  Data Engineer  2022-06-02
dbt               810          376  Data Engineer  2022-06-02
Looker            765          343  Data Engineer  2022-06-02
Metabase           17           15  Data Engineer  2022-06-02
FastAPI            31           24  Data Engineer  2022-06-02
Sagemaker         295          161  Data Engineer  2022-06-02
MLFlow             58           34  Data Engineer  2022-06-02
Kubeflow           56           37  Data Engineer  2022-06-02
Glue             1836          832  Data Engineer  2022-06-02
Athena           1131          497  Data Engineer  2022-06-02

Make a column with % of all listings for each job site and take the average of the two sites.

In [578]:
df_2022['indeed_pct'] = (df_2022['indeed']/ df_2022.iloc[0, 0] ).round(3)
df_2022['simplyhired_pct'] = (df_2022['simplyhired'] / df_2022.iloc[0, 1]).round(3)
df_2022['mean_pct'] = df_2022[['indeed_pct', 'simplyhired_pct']].mean(axis=1).round(3)

Sort

In [579]:
df_sorted = df_2022.sort_values(by='mean_pct', ascending=False)
df_sorted

,indeed,simplyhired,position,date,indeed_pct,simplyhired_pct,mean_pct
term,,,,,,,
Data Engineer,15418,7009,Data Engineer,2022-06-02,1.000,1.000,1.000
SQL,11325,5300,Data Engineer,2022-06-02,0.735,0.756,0.746
Python,11001,4992,Data Engineer,2022-06-02,0.714,0.712,0.713
AWS,8401,3572,Data Engineer,2022-06-02,0.545,0.510,0.528
Spark,6757,2811,Data Engineer,2022-06-02,0.438,0.401,0.420
Java,5254,2303,Data Engineer,2022-06-02,0.341,0.329,0.335
Azure,4764,2040,Data Engineer,2022-06-02,0.309,0.291,0.300
Redshift,3928,1667,Data Engineer,2022-06-02,0.255,0.238,0.246
Hadoop,3916,1623,Data Engineer,2022-06-02,0.254,0.232,0.243
GCP,4011,1540,Data Engineer,2022-06-02,0.260,0.220,0.240
Kafka,4011,1498,Data Engineer,2022-06-02,0.260,0.214,0.237
Snowflake,3760,1523,Data Engineer,2022-06-02,0.244,0.217,0.230
Scala,3689,1497,Data Engineer,2022-06-02,0.239,0.214,0.226
NoSQL,3163,1374,Data Engineer,2022-06-02,0.205,0.196,0.200
Hive,3336,1131,Data Engineer,2022-06-02,0.216,0.161,0.188
Tableau,2501,1419,Data Engineer,2022-06-02,0.162,0.202,0.182
Airflow,2573,1309,Data Engineer,2022-06-02,0.167,0.187,0.177
Postgres,2222,1008,Data Engineer,2022-06-02,0.144,0.144,0.144
Oracle,1868,1019,Data Engineer,2022-06-02,0.121,0.145,0.133
SQL Server,1695,1016,Data Engineer,2022-06-02,0.110,0.145,0.128
R,1724,989,Data Engineer,2022-06-02,0.112,0.141,0.126
Linux,1851,849,Data Engineer,2022-06-02,0.120,0.121,0.120
Glue,1836,832,Data Engineer,2022-06-02,0.119,0.119,0.119
Git,1518,906,Data Engineer,2022-06-02,0.098,0.129,0.114
Docker,1661,808,Data Engineer,2022-06-02,0.108,0.115,0.112
Lambda,1756,750,Data Engineer,2022-06-02,0.114,0.107,0.110
MySQL,1733,703,Data Engineer,2022-06-02,0.112,0.100,0.106
Kubernetes,1557,761,Data Engineer,2022-06-02,0.101,0.109,0.105
Databricks,1518,782,Data Engineer,2022-06-02,0.098,0.112,0.105
Kinesis,1506,545,Data Engineer,2022-06-02,0.098,0.078,0.088
Power BI,1063,661,Data Engineer,2022-06-02,0.069,0.094,0.082
Shell,1179,535,Data Engineer,2022-06-02,0.076,0.076,0.076
Cassandra,1339,446,Data Engineer,2022-06-02,0.087,0.064,0.076
Terraform,1213,494,Data Engineer,2022-06-02,0.079,0.070,0.075
Javascript,1058,534,Data Engineer,2022-06-02,0.069,0.076,0.073
BigQuery,1130,493,Data Engineer,2022-06-02,0.073,0.070,0.072
Athena,1131,497,Data Engineer,2022-06-02,0.073,0.071,0.072
Excel,966,548,Data Engineer,2022-06-02,0.063,0.078,0.070
Jenkins,955,543,Data Engineer,2022-06-02,0.062,0.077,0.070
MongoDB,900,472,Data Engineer,2022-06-02,0.058,0.067,0.062
C++,733,436,Data Engineer,2022-06-02,0.048,0.062,0.055
C,873,347,Data Engineer,2022-06-02,0.057,0.050,0.054
C#,726,421,Data Engineer,2022-06-02,0.047,0.060,0.054
dbt,810,376,Data Engineer,2022-06-02,0.053,0.054,0.054
Hbase,843,359,Data Engineer,2022-06-02,0.055,0.051,0.053
Looker,765,343,Data Engineer,2022-06-02,0.050,0.049,0.050
Presto,782,267,Data Engineer,2022-06-02,0.051,0.038,0.044
Bash,671,275,Data Engineer,2022-06-02,0.044,0.039,0.041
Ruby,588,286,Data Engineer,2022-06-02,0.038,0.041,0.040
Pandas,577,291,Data Engineer,2022-06-02,0.037,0.042,0.040
.net,562,308,Data Engineer,2022-06-02,0.036,0.044,0.040
Pig,518,222,Data Engineer,2022-06-02,0.034,0.032,0.033
SAS,360,252,Data Engineer,2022-06-02,0.023,0.036,0.030
Impala,494,177,Data Engineer,2022-06-02,0.032,0.025,0.028
Luigi,433,197,Data Engineer,2022-06-02,0.028,0.028,0.028
React,329,215,Data Engineer,2022-06-02,0.021,0.031,0.026
HTML,338,179,Data Engineer,2022-06-02,0.022,0.026,0.024
Redis,284,176,Data Engineer,2022-06-02,0.018,0.025,0.022
PowerPoint,415,123,Data Engineer,2022-06-02,0.027,0.018,0.022
Perl,272,182,Data Engineer,2022-06-02,0.018,0.026,0.022
Sagemaker,295,161,Data Engineer,2022-06-02,0.019,0.023,0.021
NumPy,306,142,Data Engineer,2022-06-02,0.020,0.020,0.020
TensorFlow,268,158,Data Engineer,2022-06-02,0.017,0.023,0.020
Alteryx,253,151,Data Engineer,2022-06-02,0.016,0.022,0.019
Oozie,244,143,Data Engineer,2022-06-02,0.016,0.020,0.018
Node,224,143,Data Engineer,2022-06-02,0.015,0.020,0.018
Jupyter,236,127,Data Engineer,2022-06-02,0.015,0.018,0.016
Prefect,268,91,Data Engineer,2022-06-02,0.017,0.013,0.015
Golang,196,107,Data Engineer,2022-06-02,0.013,0.015,0.014
CSS,180,119,Data Engineer,2022-06-02,0.012,0.017,0.014
Matlab,152,111,Data Engineer,2022-06-02,0.010,0.016,0.013
Neo4j,201,84,Data Engineer,2022-06-02,0.013,0.012,0.012
TypeScript,173,95,Data Engineer,2022-06-02,0.011,0.014,0.012
PyTorch,139,90,Data Engineer,2022-06-02,0.009,0.013,0.011
PHP,126,79,Data Engineer,2022-06-02,0.008,0.011,0.010
Scikit-learn,118,91,Data Engineer,2022-06-02,0.008,0.013,0.010
Flask,93,75,Data Engineer,2022-06-02,0.006,0.011,0.008
Keras,95,47,Data Engineer,2022-06-02,0.006,0.007,0.007
Matplotlib,66,57,Data Engineer,2022-06-02,0.004,0.008,0.006
Kotlin,81,43,Data Engineer,2022-06-02,0.005,0.006,0.006
SPSS,50,41,Data Engineer,2022-06-02,0.003,0.006,0.005
Kubeflow,56,37,Data Engineer,2022-06-02,0.004,0.005,0.005
MLFlow,58,34,Data Engineer,2022-06-02,0.004,0.005,0.005
Dagster,83,35,Data Engineer,2022-06-02,0.005,0.005,0.005
Rust,57,36,Data Engineer,2022-06-02,0.004,0.005,0.005
D3,47,31,Data Engineer,2022-06-02,0.003,0.004,0.004
Vue,53,32,Data Engineer,2022-06-02,0.003,0.005,0.004
Shiny,41,33,Data Engineer,2022-06-02,0.003,0.005,0.004
ASP,51,34,Data Engineer,2022-06-02,0.003,0.005,0.004
Julia,47,27,Data Engineer,2022-06-02,0.003,0.004,0.004
Plotly,35,31,Data Engineer,2022-06-02,0.002,0.004,0.003
FastAPI,31,24,Data Engineer,2022-06-02,0.002,0.003,0.002
Metabase,17,15,Data Engineer,2022-06-02,0.001,0.002,0.002
Stata,22,18,Data Engineer,2022-06-02,0.001,0.003,0.002
Swift,19,17,Data Engineer,2022-06-02,0.001,0.002,0.002
Visual Basic,18,16,Data Engineer,2022-06-02,0.001,0.002,0.002
Dart,9,5,Data Engineer,2022-06-02,0.001,0.001,0.001
Clojure,22,9,Data Engineer,2022-06-02,0.001,0.001,0.001
WebAssembly,2,2,Data Engineer,2022-06-02,0.000,0.000,0.000
Next.js,1,1,Data Engineer,2022-06-02,0.000,0.000,0.000
Fortran,5,5,Data Engineer,2022-06-02,0.000,0.001,0.000
Svelte,1,1,Data Engineer,2022-06-02,0.000,0.000,0.000
Objective-C,4,2,Data Engineer,2022-06-02,0.000,0.000,0.000

Prepare for plotting

In [580]:
df_to_plot = df_sorted[df_sorted['mean_pct'] >= .2]
df_to_plot = df_to_plot.iloc[1:, [-1]]

In [581]:
fig1 = px.bar(
    df_to_plot,
    x=df_to_plot.index,
    y="mean_pct",
    title="Most Popular Technologies in Data Engineer Job Listings 2022",
    color='mean_pct',
    color_continuous_scale=px.colors.sequential.Tealgrn
)

fig1.update_layout(
    yaxis_title="Avg % of Listings",
    yaxis_tickformat="2",
    xaxis_title="Technology",
    coloraxis_showscale=False,
)

Read in data from 2022, percentage of listings.

In [582]:
df_2020 = pd.read_csv(
    '/Users/hale/Dropbox/DS/articles/scrape-jobs/2022/de/data/Data Engineer_tech_skills_2020_01_08_time_08_53_pct.csv',
    index_col=0)

In [583]:
df_2020

                indeed   monster  simplyhired       avg
SQL           0.702310  0.634560     0.700469  0.679113
Python        0.693226  0.627345     0.705161  0.675244
Spark         0.530496  0.468975     0.502707  0.500726
AWS           0.475474  0.401876     0.464453  0.447268
Java          0.423047  0.422799     0.419343  0.421730
Hadoop        0.429016  0.433622     0.396608  0.419749
Hive          0.292759  0.284632     0.259473  0.278955
Scala         0.268362  0.269481     0.286539  0.274794
Kafka         0.267584  0.260101     0.261999  0.263228
NoSQL         0.261095  0.234848     0.239264  0.245069
Redshift      0.239813  0.155844     0.218694  0.204784
Azure         0.228653  0.157648     0.216528  0.200943
Linux         0.160914  0.189394     0.161314  0.170540
R             0.155463  0.180375     0.164201  0.166680
Tableau       0.173631  0.144300     0.178997  0.165643
Oracle        0.147937  0.174603     0.159148  0.160563
SQL Server    0.126135  0.169192     0.143630  0.146319
Hbase         0.135219  0.116883     0.108264  0.120122
Git           0.120166  0.107504     0.127752  0.118474
Cassandra     0.116792  0.126263     0.108264  0.117106
Airflow       0.124578  0.080087     0.136774  0.113813
Snowflake     0.114716  0.091270     0.114038  0.106675
Docker        0.108746  0.086941     0.112234  0.102640
MySQL         0.099663  0.079365     0.114760  0.097929
PostgreSQL    0.076564  0.114719     0.085529  0.092270
C++           0.093693  0.075397     0.102851  0.090647
MongoDB       0.084609  0.084776     0.083363  0.084250
GCP           0.108746  0.059163     0.084446  0.084119
Jenkins       0.086167  0.084055     0.071815  0.080679
Google Cloud  0.081495  0.071789     0.079755  0.077680
Pig           0.080976  0.075397     0.074341  0.076905
Lambda        0.093434  0.053030     0.078311  0.074925
Kinesis       0.083831  0.053030     0.086611  0.074491
Kubernetes    0.082274  0.058802     0.078311  0.073129
C#            0.077342  0.048701     0.073259  0.066434
C             0.058656  0.075397     0.060628  0.064893
Javascript    0.060991  0.058442     0.069289  0.062907
Excel         0.062030  0.046176     0.067846  0.058684
Teradata      0.062808  0.051587     0.060628  0.058341
Impala        0.056839  0.058081     0.043306  0.052742
Ruby          0.063587  0.028860     0.065319  0.052589
Databricks    0.062030  0.035354     0.058824  0.052069
Power BI      0.060732  0.040404     0.053049  0.051395
Perl          0.063846  0.039683     0.045471  0.049667
BigQuery      0.056839  0.035354     0.047997  0.046730
Presto        0.042564  0.043290     0.050162  0.045339
Oozie         0.050350  0.041126     0.041501  0.044326
SAS           0.042305  0.041486     0.046914  0.043568
Terraform     0.040228  0.040404     0.033923  0.038185
Pandas        0.030106  0.024531     0.033562  0.029400
TensorFlow    0.035038  0.016234     0.027788  0.026353
Node          0.034519  0.010823     0.029592  0.024978
Redis         0.026473  0.013348     0.033562  0.024461
node.js       0.025175  0.023449     0.019848  0.022824
PHP           0.020763  0.022006     0.023096  0.021955
Alteryx       0.023877  0.016955     0.018766  0.019866
Jupyter       0.019984  0.014069     0.019488  0.017847
NumPy         0.016091  0.016595     0.018766  0.017151
Matlab        0.016091  0.012266     0.018766  0.015708
Scikit-learn  0.015832  0.012266     0.018766  0.015621
Neo4j         0.016351  0.011183     0.017322  0.014952
PowerPoint    0.014275  0.007576     0.013353  0.011734
PyTorch       0.010122  0.006133     0.012631  0.009629
Golang        0.008046  0.009019     0.009383  0.008816
Flask         0.009343  0.005051     0.011909  0.008768
D3            0.006748  0.007576     0.007218  0.007180
Keras         0.007527  0.004329     0.007939  0.006598
SPSS          0.005969  0.005411     0.007578  0.006320
Julia         0.004931  0.002525     0.006135  0.004530
Matplotlib    0.004153  0.004329     0.005052  0.004511
Shiny         0.004153  0.001804     0.005413  0.003790
Stata         0.002076  0.001804     0.002526  0.002135

I'm going to leave Monster out so that this more of an apples-to-apples comparison.

In [584]:
df_2020.drop(columns='monster', inplace=True)

Combine GCP keywords

In [585]:
df_2020 = combine(df_2020, 'GCP', 'Google Cloud')
df_2020

                indeed  simplyhired       avg
SQL           0.702310     0.700469  0.679113
Python        0.693226     0.705161  0.675244
Spark         0.530496     0.502707  0.500726
AWS           0.475474     0.464453  0.447268
Java          0.423047     0.419343  0.421730
Hadoop        0.429016     0.396608  0.419749
Hive          0.292759     0.259473  0.278955
Scala         0.268362     0.286539  0.274794
Kafka         0.267584     0.261999  0.263228
NoSQL         0.261095     0.239264  0.245069
Redshift      0.239813     0.218694  0.204784
Azure         0.228653     0.216528  0.200943
Linux         0.160914     0.161314  0.170540
R             0.155463     0.164201  0.166680
Tableau       0.173631     0.178997  0.165643
Oracle        0.147937     0.159148  0.160563
SQL Server    0.126135     0.143630  0.146319
Hbase         0.135219     0.108264  0.120122
Git           0.120166     0.127752  0.118474
Cassandra     0.116792     0.108264  0.117106
Airflow       0.124578     0.136774  0.113813
Snowflake     0.114716     0.114038  0.106675
Docker        0.108746     0.112234  0.102640
MySQL         0.099663     0.114760  0.097929
PostgreSQL    0.076564     0.085529  0.092270
C++           0.093693     0.102851  0.090647
MongoDB       0.084609     0.083363  0.084250
GCP           0.190241     0.164201  0.084119
Jenkins       0.086167     0.071815  0.080679
Pig           0.080976     0.074341  0.076905
Lambda        0.093434     0.078311  0.074925
Kinesis       0.083831     0.086611  0.074491
Kubernetes    0.082274     0.078311  0.073129
C#            0.077342     0.073259  0.066434
C             0.058656     0.060628  0.064893
Javascript    0.060991     0.069289  0.062907
Excel         0.062030     0.067846  0.058684
Teradata      0.062808     0.060628  0.058341
Impala        0.056839     0.043306  0.052742
Ruby          0.063587     0.065319  0.052589
Databricks    0.062030     0.058824  0.052069
Power BI      0.060732     0.053049  0.051395
Perl          0.063846     0.045471  0.049667
BigQuery      0.056839     0.047997  0.046730
Presto        0.042564     0.050162  0.045339
Oozie         0.050350     0.041501  0.044326
SAS           0.042305     0.046914  0.043568
Terraform     0.040228     0.033923  0.038185
Pandas        0.030106     0.033562  0.029400
TensorFlow    0.035038     0.027788  0.026353
Node          0.034519     0.029592  0.024978
Redis         0.026473     0.033562  0.024461
node.js       0.025175     0.019848  0.022824
PHP           0.020763     0.023096  0.021955
Alteryx       0.023877     0.018766  0.019866
Jupyter       0.019984     0.019488  0.017847
NumPy         0.016091     0.018766  0.017151
Matlab        0.016091     0.018766  0.015708
Scikit-learn  0.015832     0.018766  0.015621
Neo4j         0.016351     0.017322  0.014952
PowerPoint    0.014275     0.013353  0.011734
PyTorch       0.010122     0.012631  0.009629
Golang        0.008046     0.009383  0.008816
Flask         0.009343     0.011909  0.008768
D3            0.006748     0.007218  0.007180
Keras         0.007527     0.007939  0.006598
SPSS          0.005969     0.007578  0.006320
Julia         0.004931     0.006135  0.004530
Matplotlib    0.004153     0.005052  0.004511
Shiny         0.004153     0.005413  0.003790
Stata         0.002076     0.002526  0.002135

Create the average column

In [586]:
df_2020['avg'] = df_2020[['indeed', 'simplyhired']].mean(axis=1).round(3)
df_2020

                indeed  simplyhired    avg
SQL           0.702310     0.700469  0.701
Python        0.693226     0.705161  0.699
Spark         0.530496     0.502707  0.517
AWS           0.475474     0.464453  0.470
Java          0.423047     0.419343  0.421
Hadoop        0.429016     0.396608  0.413
Hive          0.292759     0.259473  0.276
Scala         0.268362     0.286539  0.277
Kafka         0.267584     0.261999  0.265
NoSQL         0.261095     0.239264  0.250
Redshift      0.239813     0.218694  0.229
Azure         0.228653     0.216528  0.223
Linux         0.160914     0.161314  0.161
R             0.155463     0.164201  0.160
Tableau       0.173631     0.178997  0.176
Oracle        0.147937     0.159148  0.154
SQL Server    0.126135     0.143630  0.135
Hbase         0.135219     0.108264  0.122
Git           0.120166     0.127752  0.124
Cassandra     0.116792     0.108264  0.113
Airflow       0.124578     0.136774  0.131
Snowflake     0.114716     0.114038  0.114
Docker        0.108746     0.112234  0.110
MySQL         0.099663     0.114760  0.107
PostgreSQL    0.076564     0.085529  0.081
C++           0.093693     0.102851  0.098
MongoDB       0.084609     0.083363  0.084
GCP           0.190241     0.164201  0.177
Jenkins       0.086167     0.071815  0.079
Pig           0.080976     0.074341  0.078
Lambda        0.093434     0.078311  0.086
Kinesis       0.083831     0.086611  0.085
Kubernetes    0.082274     0.078311  0.080
C#            0.077342     0.073259  0.075
C             0.058656     0.060628  0.060
Javascript    0.060991     0.069289  0.065
Excel         0.062030     0.067846  0.065
Teradata      0.062808     0.060628  0.062
Impala        0.056839     0.043306  0.050
Ruby          0.063587     0.065319  0.064
Databricks    0.062030     0.058824  0.060
Power BI      0.060732     0.053049  0.057
Perl          0.063846     0.045471  0.055
BigQuery      0.056839     0.047997  0.052
Presto        0.042564     0.050162  0.046
Oozie         0.050350     0.041501  0.046
SAS           0.042305     0.046914  0.045
Terraform     0.040228     0.033923  0.037
Pandas        0.030106     0.033562  0.032
TensorFlow    0.035038     0.027788  0.031
Node          0.034519     0.029592  0.032
Redis         0.026473     0.033562  0.030
node.js       0.025175     0.019848  0.023
PHP           0.020763     0.023096  0.022
Alteryx       0.023877     0.018766  0.021
Jupyter       0.019984     0.019488  0.020
NumPy         0.016091     0.018766  0.017
Matlab        0.016091     0.018766  0.017
Scikit-learn  0.015832     0.018766  0.017
Neo4j         0.016351     0.017322  0.017
PowerPoint    0.014275     0.013353  0.014
PyTorch       0.010122     0.012631  0.011
Golang        0.008046     0.009383  0.009
Flask         0.009343     0.011909  0.011
D3            0.006748     0.007218  0.007
Keras         0.007527     0.007939  0.008
SPSS          0.005969     0.007578  0.007
Julia         0.004931     0.006135  0.006
Matplotlib    0.004153     0.005052  0.005
Shiny         0.004153     0.005413  0.005
Stata         0.002076     0.002526  0.002

Merge the DFs

In [587]:
df_combo = df_2020.merge(df_2022, how='right', left_index=True, right_index=True)[['avg', 'mean_pct']]
df_combo

                 avg  mean_pct
term
Data Engineer    NaN     1.000
Python         0.699     0.713
SQL            0.701     0.746
R              0.160     0.126
Spark          0.517     0.420
Hadoop         0.413     0.243
Java           0.421     0.335
Tableau        0.176     0.182
AWS            0.470     0.528
SAS            0.045     0.030
Hive           0.276     0.188
Scala          0.277     0.226
Excel          0.065     0.070
TensorFlow     0.031     0.020
Azure          0.223     0.300
NoSQL          0.250     0.200
Linux          0.161     0.120
C              0.060     0.054
C++            0.098     0.055
C#             0.075     0.054
Matlab         0.017     0.013
Scikit-learn   0.017     0.010
Pandas         0.032     0.040
Git            0.124     0.114
Keras          0.008     0.007
Javascript     0.065     0.073
Pig            0.078     0.033
Hbase          0.122     0.053
Docker         0.110     0.112
NumPy          0.017     0.020
PyTorch        0.011     0.011
MySQL          0.107     0.106
Perl           0.055     0.022
Cassandra      0.113     0.076
MongoDB        0.084     0.062
GCP            0.177     0.240
Kubernetes     0.080     0.105
D3             0.007     0.004
Databricks     0.060     0.105
Postgres         NaN     0.144
Airflow        0.131     0.177
Alteryx        0.021     0.019
BigQuery       0.052     0.072
Ruby           0.064     0.040
PowerPoint     0.014     0.022
Power BI       0.057     0.082
Shiny          0.005     0.004
Julia          0.006     0.004
Jupyter        0.020     0.016
PHP            0.022     0.010
Matplotlib     0.005     0.006
Node           0.032     0.018
Flask          0.011     0.008
Neo4j          0.017     0.012
Redis          0.030     0.022
Oracle         0.154     0.133
Lambda         0.086     0.110
Redshift       0.229     0.246
Terraform      0.037     0.075
Kafka          0.265     0.237
Jenkins        0.079     0.070
Golang         0.009     0.014
Snowflake      0.114     0.230
Presto         0.046     0.044
Kinesis        0.085     0.088
Impala         0.050     0.028
SQL Server     0.135     0.128
SPSS           0.007     0.005
Oozie          0.046     0.018
Stata          0.002     0.002
React            NaN     0.026
Kotlin           NaN     0.006
Fortran          NaN     0.000
Rust             NaN     0.005
Dart             NaN     0.001
Clojure          NaN     0.001
Vue              NaN     0.004
Svelte           NaN     0.000
Next.js          NaN     0.000
Swift            NaN     0.002
CSS              NaN     0.014
HTML             NaN     0.024
Bash             NaN     0.041
Shell            NaN     0.076
TypeScript       NaN     0.012
Objective-C      NaN     0.000
WebAssembly      NaN     0.000
Visual Basic     NaN     0.002
.net             NaN     0.040
ASP              NaN     0.004
Prefect          NaN     0.015
Luigi            NaN     0.028
Dagster          NaN     0.005
Plotly           NaN     0.003
dbt              NaN     0.054
Looker           NaN     0.050
Metabase         NaN     0.002
FastAPI          NaN     0.002
Sagemaker        NaN     0.021
MLFlow           NaN     0.005
Kubeflow         NaN     0.005
Glue             NaN     0.119
Athena           NaN     0.072

Clean the combined DF

In [588]:
df_combo = df_combo[1:].dropna()

In [589]:
df_combo

                avg  mean_pct
term
Python        0.699     0.713
SQL           0.701     0.746
R             0.160     0.126
Spark         0.517     0.420
Hadoop        0.413     0.243
Java          0.421     0.335
Tableau       0.176     0.182
AWS           0.470     0.528
SAS           0.045     0.030
Hive          0.276     0.188
Scala         0.277     0.226
Excel         0.065     0.070
TensorFlow    0.031     0.020
Azure         0.223     0.300
NoSQL         0.250     0.200
Linux         0.161     0.120
C             0.060     0.054
C++           0.098     0.055
C#            0.075     0.054
Matlab        0.017     0.013
Scikit-learn  0.017     0.010
Pandas        0.032     0.040
Git           0.124     0.114
Keras         0.008     0.007
Javascript    0.065     0.073
Pig           0.078     0.033
Hbase         0.122     0.053
Docker        0.110     0.112
NumPy         0.017     0.020
PyTorch       0.011     0.011
MySQL         0.107     0.106
Perl          0.055     0.022
Cassandra     0.113     0.076
MongoDB       0.084     0.062
GCP           0.177     0.240
Kubernetes    0.080     0.105
D3            0.007     0.004
Databricks    0.060     0.105
Airflow       0.131     0.177
Alteryx       0.021     0.019
BigQuery      0.052     0.072
Ruby          0.064     0.040
PowerPoint    0.014     0.022
Power BI      0.057     0.082
Shiny         0.005     0.004
Julia         0.006     0.004
Jupyter       0.020     0.016
PHP           0.022     0.010
Matplotlib    0.005     0.006
Node          0.032     0.018
Flask         0.011     0.008
Neo4j         0.017     0.012
Redis         0.030     0.022
Oracle        0.154     0.133
Lambda        0.086     0.110
Redshift      0.229     0.246
Terraform     0.037     0.075
Kafka         0.265     0.237
Jenkins       0.079     0.070
Golang        0.009     0.014
Snowflake     0.114     0.230
Presto        0.046     0.044
Kinesis       0.085     0.088
Impala        0.050     0.028
SQL Server    0.135     0.128
SPSS          0.007     0.005
Oozie         0.046     0.018
Stata         0.002     0.002

In [590]:
df_combo.columns = ['2020_mean', '2022_mean']
df_combo.head(2)

        2020_mean  2022_mean
term
Python      0.699      0.713
SQL         0.701      0.746

In [591]:
df_combo.sort_values(by='2022_mean', ascending=False, inplace=True)

In [592]:
df_combo['pct_pt_change'] = df_combo['2022_mean'] - df_combo['2020_mean']
df_combo

              2020_mean  2022_mean  pct_pt_change
term
SQL               0.701      0.746          0.045
Python            0.699      0.713          0.014
AWS               0.470      0.528          0.058
Spark             0.517      0.420         -0.097
Java              0.421      0.335         -0.086
Azure             0.223      0.300          0.077
Redshift          0.229      0.246          0.017
Hadoop            0.413      0.243         -0.170
GCP               0.177      0.240          0.063
Kafka             0.265      0.237         -0.028
Snowflake         0.114      0.230          0.116
Scala             0.277      0.226         -0.051
NoSQL             0.250      0.200         -0.050
Hive              0.276      0.188         -0.088
Tableau           0.176      0.182          0.006
Airflow           0.131      0.177          0.046
Oracle            0.154      0.133         -0.021
SQL Server        0.135      0.128         -0.007
R                 0.160      0.126         -0.034
Linux             0.161      0.120         -0.041
Git               0.124      0.114         -0.010
Docker            0.110      0.112          0.002
Lambda            0.086      0.110          0.024
MySQL             0.107      0.106         -0.001
Databricks        0.060      0.105          0.045
Kubernetes        0.080      0.105          0.025
Kinesis           0.085      0.088          0.003
Power BI          0.057      0.082          0.025
Cassandra         0.113      0.076         -0.037
Terraform         0.037      0.075          0.038
Javascript        0.065      0.073          0.008
BigQuery          0.052      0.072          0.020
Jenkins           0.079      0.070         -0.009
Excel             0.065      0.070          0.005
MongoDB           0.084      0.062         -0.022
C++               0.098      0.055         -0.043
C#                0.075      0.054         -0.021
C                 0.060      0.054         -0.006
Hbase             0.122      0.053         -0.069
Presto            0.046      0.044         -0.002
Pandas            0.032      0.040          0.008
Ruby              0.064      0.040         -0.024
Pig               0.078      0.033         -0.045
SAS               0.045      0.030         -0.015
Impala            0.050      0.028         -0.022
Redis             0.030      0.022         -0.008
PowerPoint        0.014      0.022          0.008
Perl              0.055      0.022         -0.033
TensorFlow        0.031      0.020         -0.011
NumPy             0.017      0.020          0.003
Alteryx           0.021      0.019         -0.002
Node              0.032      0.018         -0.014
Oozie             0.046      0.018         -0.028
Jupyter           0.020      0.016         -0.004
Golang            0.009      0.014          0.005
Matlab            0.017      0.013         -0.004
Neo4j             0.017      0.012         -0.005
PyTorch           0.011      0.011          0.000
Scikit-learn      0.017      0.010         -0.007
PHP               0.022      0.010         -0.012
Flask             0.011      0.008         -0.003
Keras             0.008      0.007         -0.001
Matplotlib        0.005      0.006          0.001
SPSS              0.007      0.005         -0.002
D3                0.007      0.004         -0.003
Shiny             0.005      0.004         -0.001
Julia             0.006      0.004         -0.002
Stata             0.002      0.002          0.000

Plot the data a few ways

In [593]:
df_to_plot = df_combo[df_combo['2022_mean'] > .2]

Reformat data for line plot

In [594]:
df_to_plot_long = df_to_plot.reset_index()

In [595]:
df_to_plot_long

         term  2020_mean  2022_mean  pct_pt_change
0         SQL      0.701      0.746          0.045
1      Python      0.699      0.713          0.014
2         AWS      0.470      0.528          0.058
3       Spark      0.517      0.420         -0.097
4        Java      0.421      0.335         -0.086
5       Azure      0.223      0.300          0.077
6    Redshift      0.229      0.246          0.017
7      Hadoop      0.413      0.243         -0.170
8         GCP      0.177      0.240          0.063
9       Kafka      0.265      0.237         -0.028
10  Snowflake      0.114      0.230          0.116
11      Scala      0.277      0.226         -0.051

In [596]:
df_to_plot_long = pd.melt(df_to_plot_long, id_vars='term', value_vars=['2020_mean', '2022_mean'])

In [597]:
df_to_plot_long

         term   variable  value
0         SQL  2020_mean  0.701
1      Python  2020_mean  0.699
2         AWS  2020_mean  0.470
3       Spark  2020_mean  0.517
4        Java  2020_mean  0.421
5       Azure  2020_mean  0.223
6    Redshift  2020_mean  0.229
7      Hadoop  2020_mean  0.413
8         GCP  2020_mean  0.177
9       Kafka  2020_mean  0.265
10  Snowflake  2020_mean  0.114
11      Scala  2020_mean  0.277
12        SQL  2022_mean  0.746
13     Python  2022_mean  0.713
14        AWS  2022_mean  0.528
15      Spark  2022_mean  0.420
16       Java  2022_mean  0.335
17      Azure  2022_mean  0.300
18   Redshift  2022_mean  0.246
19     Hadoop  2022_mean  0.243
20        GCP  2022_mean  0.240
21      Kafka  2022_mean  0.237
22  Snowflake  2022_mean  0.230
23      Scala  2022_mean  0.226

In [598]:
df_to_plot_long['variable'] = df_to_plot_long['variable'].str.slice(stop=4)

In [599]:
df_to_plot_long['variable'] = np.where(df_to_plot_long['variable']=='2020', '01-08-2020', '06-01-2022')

In [600]:
df_to_plot_long['variable'] = pd.to_datetime(df_to_plot_long['variable'])
df_to_plot_long.set_index('variable', drop=True, inplace=True)

In [601]:
px.line(df_to_plot_long, x=df_to_plot_long.index, y='value', color='term') # TK make prettier

In [602]:
px.bar(df_to_plot, barmode='group')

Plot the largest percentage point changes

In [603]:
df_combo.sort_values(by='pct_pt_change', ascending=False, inplace=True)

In [604]:
df_combo.head(10)

            2020_mean  2022_mean  pct_pt_change
term
Snowflake       0.114      0.230          0.116
Azure           0.223      0.300          0.077
GCP             0.177      0.240          0.063
AWS             0.470      0.528          0.058
Airflow         0.131      0.177          0.046
SQL             0.701      0.746          0.045
Databricks      0.060      0.105          0.045
Terraform       0.037      0.075          0.038
Power BI        0.057      0.082          0.025
Kubernetes      0.080      0.105          0.025

In [605]:
df_combo.tail(10)

        2020_mean  2022_mean  pct_pt_change
term
Linux       0.161      0.120         -0.041
C++         0.098      0.055         -0.043
Pig         0.078      0.033         -0.045
NoSQL       0.250      0.200         -0.050
Scala       0.277      0.226         -0.051
Hbase       0.122      0.053         -0.069
Java        0.421      0.335         -0.086
Hive        0.276      0.188         -0.088
Spark       0.517      0.420         -0.097
Hadoop      0.413      0.243         -0.170

In [606]:
df_biggest_changes = pd.concat([df_combo.head(5), df_combo.tail(5)])
df_biggest_changes['pct_pt_change'] = df_biggest_changes['pct_pt_change'] * 100
df_biggest_changes

           2020_mean  2022_mean  pct_pt_change
term
Snowflake      0.114      0.230           11.6
Azure          0.223      0.300            7.7
GCP            0.177      0.240            6.3
AWS            0.470      0.528            5.8
Airflow        0.131      0.177            4.6
Hbase          0.122      0.053           -6.9
Java           0.421      0.335           -8.6
Hive           0.276      0.188           -8.8
Spark          0.517      0.420           -9.7
Hadoop         0.413      0.243          -17.0

These are percentage point changes, not percent changes. SnowFlake had a more than 100% increase, while Hadoop had nearly a 50% decrease. Now they are found in about the same percentage of all listings, a bit under a quarter of them.

In [607]:
fig = px.bar(
    df_biggest_changes,
    x=df_biggest_changes.index,
    y="pct_pt_change",
    title='Largest Percentage Point Changes Jan. 2020 - June 2022',
    color='pct_pt_change',
    color_continuous_scale=px.colors.diverging.RdYlGn,
)

fig.update_layout(
    yaxis_title="Percentage Point Change",
    yaxis_tickformat="2",
    xaxis_title="Technology",
    coloraxis_showscale=False,
)

In [608]:
df_biggest_changes_20 = pd.concat([df_combo.head(10), df_combo.tail(10)])
df_biggest_changes_20

            2020_mean  2022_mean  pct_pt_change
term
Snowflake       0.114      0.230          0.116
Azure           0.223      0.300          0.077
GCP             0.177      0.240          0.063
AWS             0.470      0.528          0.058
Airflow         0.131      0.177          0.046
SQL             0.701      0.746          0.045
Databricks      0.060      0.105          0.045
Terraform       0.037      0.075          0.038
Power BI        0.057      0.082          0.025
Kubernetes      0.080      0.105          0.025
Linux           0.161      0.120         -0.041
C++             0.098      0.055         -0.043
Pig             0.078      0.033         -0.045
NoSQL           0.250      0.200         -0.050
Scala           0.277      0.226         -0.051
Hbase           0.122      0.053         -0.069
Java            0.421      0.335         -0.086
Hive            0.276      0.188         -0.088
Spark           0.517      0.420         -0.097
Hadoop          0.413      0.243         -0.170

Calculate largest percentage changes of terms that show up in a minimum of 10% of 2022 average listings.

In [609]:
df_pct_change = df_combo[df_combo['2022_mean'] >.1 ].sort_values(by='2022_mean', ascending=False)
df_pct_change

            2020_mean  2022_mean  pct_pt_change
term
SQL             0.701      0.746          0.045
Python          0.699      0.713          0.014
AWS             0.470      0.528          0.058
Spark           0.517      0.420         -0.097
Java            0.421      0.335         -0.086
Azure           0.223      0.300          0.077
Redshift        0.229      0.246          0.017
Hadoop          0.413      0.243         -0.170
GCP             0.177      0.240          0.063
Kafka           0.265      0.237         -0.028
Snowflake       0.114      0.230          0.116
Scala           0.277      0.226         -0.051
NoSQL           0.250      0.200         -0.050
Hive            0.276      0.188         -0.088
Tableau         0.176      0.182          0.006
Airflow         0.131      0.177          0.046
Oracle          0.154      0.133         -0.021
SQL Server      0.135      0.128         -0.007
R               0.160      0.126         -0.034
Linux           0.161      0.120         -0.041
Git             0.124      0.114         -0.010
Docker          0.110      0.112          0.002
Lambda          0.086      0.110          0.024
MySQL           0.107      0.106         -0.001
Kubernetes      0.080      0.105          0.025
Databricks      0.060      0.105          0.045

In [610]:
df_pct_change.count()

2020_mean        26
2022_mean        26
pct_pt_change    26
dtype: int64

In [611]:
df_pct_change['pct_change'] =  (((df_pct_change['2022_mean'] - df_pct_change['2020_mean']) / df_pct_change['2020_mean'])*100).round(1)

In [612]:
df_pct_change.sort_values(by='pct_change', ascending=False, inplace=True)

In [613]:
df_pct_change

            2020_mean  2022_mean  pct_pt_change  pct_change
term
Snowflake       0.114      0.230          0.116       101.8
Databricks      0.060      0.105          0.045        75.0
GCP             0.177      0.240          0.063        35.6
Airflow         0.131      0.177          0.046        35.1
Azure           0.223      0.300          0.077        34.5
Kubernetes      0.080      0.105          0.025        31.2
Lambda          0.086      0.110          0.024        27.9
AWS             0.470      0.528          0.058        12.3
Redshift        0.229      0.246          0.017         7.4
SQL             0.701      0.746          0.045         6.4
Tableau         0.176      0.182          0.006         3.4
Python          0.699      0.713          0.014         2.0
Docker          0.110      0.112          0.002         1.8
MySQL           0.107      0.106         -0.001        -0.9
SQL Server      0.135      0.128         -0.007        -5.2
Git             0.124      0.114         -0.010        -8.1
Kafka           0.265      0.237         -0.028       -10.6
Oracle          0.154      0.133         -0.021       -13.6
Scala           0.277      0.226         -0.051       -18.4
Spark           0.517      0.420         -0.097       -18.8
NoSQL           0.250      0.200         -0.050       -20.0
Java            0.421      0.335         -0.086       -20.4
R               0.160      0.126         -0.034       -21.3
Linux           0.161      0.120         -0.041       -25.5
Hive            0.276      0.188         -0.088       -31.9
Hadoop          0.413      0.243         -0.170       -41.2

Make the table pretty for printing

In [619]:
df_pct_change_to_print = df_pct_change.iloc[:, [1, 0, 2, 3]]
df_pct_change_to_print.columns = ['2022 Avg', '2020 Avg', '% Point Change', '% Change']
df_pct_change_to_print['% Point Change'] = df_pct_change_to_print['% Point Change'] * 100
df_pct_change_to_print.index.name = 'Term'
df_pct_change_to_print

            2022 Avg  2020 Avg  % Point Change  % Change
Term
Snowflake      0.230     0.114            11.6     101.8
Databricks     0.105     0.060             4.5      75.0
GCP            0.240     0.177             6.3      35.6
Airflow        0.177     0.131             4.6      35.1
Azure          0.300     0.223             7.7      34.5
Kubernetes     0.105     0.080             2.5      31.2
Lambda         0.110     0.086             2.4      27.9
AWS            0.528     0.470             5.8      12.3
Redshift       0.246     0.229             1.7       7.4
SQL            0.746     0.701             4.5       6.4
Tableau        0.182     0.176             0.6       3.4
Python         0.713     0.699             1.4       2.0
Docker         0.112     0.110             0.2       1.8
MySQL          0.106     0.107            -0.1      -0.9
SQL Server     0.128     0.135            -0.7      -5.2
Git            0.114     0.124            -1.0      -8.1
Kafka          0.237     0.265            -2.8     -10.6
Oracle         0.133     0.154            -2.1     -13.6
Scala          0.226     0.277            -5.1     -18.4
Spark          0.420     0.517            -9.7     -18.8
NoSQL          0.200     0.250            -5.0     -20.0
Java           0.335     0.421            -8.6     -20.4
R              0.126     0.160            -3.4     -21.3
Linux          0.120     0.161            -4.1     -25.5
Hive           0.188     0.276            -8.8     -31.9
Hadoop         0.243     0.413           -17.0     -41.2

In [621]:
len(df_pct_change_to_print)

26

In [620]:
df_biggest_pct_changes = pd.concat([df_pct_change.head(5), df_pct_change.tail(5)])[['pct_change']]

In [616]:
df_biggest_pct_changes

            pct_change
term
Snowflake        101.8
Databricks        75.0
GCP               35.6
Airflow           35.1
Azure             34.5
Java             -20.4
R                -21.3
Linux            -25.5
Hive             -31.9
Hadoop           -41.2

In [617]:
df_pct_change.tail(5)

        2020_mean  2022_mean  pct_pt_change  pct_change
term
Java        0.421      0.335         -0.086       -20.4
R           0.160      0.126         -0.034       -21.3
Linux       0.161      0.120         -0.041       -25.5
Hive        0.276      0.188         -0.088       -31.9
Hadoop      0.413      0.243         -0.170       -41.2

Plot largest percentage changes

In [618]:
fig = px.bar(
    df_biggest_pct_changes,
    x=df_biggest_pct_changes.index,
    y="pct_change",
    title='Largest Percentage Changes Jan. 2020 - June 2022',
    color='pct_change',
    color_continuous_scale=px.colors.diverging.RdYlGn,
)

fig.update_layout(
    yaxis_title="Percentage Change",
    yaxis_tickformat="2",
    xaxis_title="Technology",
    coloraxis_showscale=False,
)

That's the end! Check out the finished product with discussion at [Medium](https://jeffhale.medium.com/most-in-demand-tech-skills-for-data-engineers-2022-a4746a2b366?source=friends_link&sk=1dbc1cebd4debce8469104a968c5d697)